:root {
    --baseblack: #0a0a0b;
    --neutrals1000: #151314;
    --neutrals900: #2b2829;
    --basewhite: #fafafa;
    --primary: #f4d03f;
    --succes: #28a745;
    --warning: #ffc107;
    --error: #dc3545;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--baseblack);
    color: var(--basewhite);
}

/* Styking Scroll Button */
#scrollUpBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--primary);
    color: var(--baseblack);
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

#scrollUpBtn.visible {
    opacity: 1;
}

#scrollUpBtn svg {  
    fill: currentColor;
}

/* Styling Navigasi */
nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    display: inline-block;
    height: 50px;
    width: auto;
}

.logo img {
    height: 100%;
    width: auto;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--basewhite);
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    color: var(--basewhite);
    text-decoration: none;
    margin: 0 2rem;
    font-size: 1.2em;
    position: relative;
    padding-bottom: 4px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: var(--primary);
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
}

.nav-menu a:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}

/* Styling main container */
main {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 4px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    position: relative;
}

#hero section {
    width: 100%;
    height: 100%;
    position: relative;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 24px;
    filter: brightness(50%);
    z-index: 1;
}

#hero h1 {
    color: var(--basewhite);
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2;
}

.content-wrapper {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    width: 100%;
}

article {
    background-color: var(--neutrals1000);
    padding: 1rem;
    grid-column: 1 / 2;
    margin: 1rem 1rem 0 0;
    border-radius: 24px;
}

article h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

article p, ul {
    text-align : justify;  
    margin: 1rem;
}

article ul, ol {
    margin-left: 2rem;
}

article table {
    margin: 1rem;
}

aside {
    background-color: var(--neutrals1000);
    border-radius: 24px;
    padding: 1rem;
    margin-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: start;
    height: auto;
}

aside h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 1rem;
}

aside h2 {
    color: var(--primary);
    margin-bottom: 0.5rem;
}

.aside-photo {
    margin-bottom: 1rem;
}

.aside-photo img {
    width: 100%;
    border-radius: 12px;
    margin-bottom: 0.5rem;
}

.aside-photo p {
    font-style: italic;
    text-align: center;
    font-size: 0.9rem;
}

.quick-info, .quick-links, .weather-info, .event-highlight {
    margin-bottom: 1rem;
}

.quick-info ul, .quick-links ul {
    list-style-type: none;
    padding-left: 0;
}

.quick-links a {
    color: var(--basewhite);
}

.quick-links a:hover {
    color: var(--primary);
}

/* Styling untuk card */
.news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.news-card,
.gallery-card, .pemerintahan-card {
    background-color: var(--neutrals900);
    border-radius: 8px;;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 1rem;
    transition: transform 0.3s ease;
}

.gallery-card {
    background-color: var(--basewhite);
    height: 200px;
}

.news-card img,
.gallery-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.pemerintahan-card img {
  width: 100%;
  height: auto;
}

.news-card:hover {
    transform: translateY(-10px);
}

.news-caption {
    padding: 1rem;
    text-align: center;
}

.news-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--basewhite);
}

.news-caption p {
    font-size: 1rem;
    color: var(--basewhite);
}

/* Styling Maps */
.map-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 450px;
}

/* Styling untuk section Agenda Kegiatan */
.agenda-kegiatan {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.agenda-item {
    width: 450px;
    padding: 1rem;
    background-color: var(--neutrals900);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 1rem;
}

.agenda-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.agenda-details p {
    font-size: 1rem;
    color: var(--basewhite);
    margin-bottom: 0.2rem;
}

/* Styling footer */
footer {
    background-color: var(--neutrals1000);
    color: var(--basewhite);
    padding: 2rem 1rem;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: var(--primary);
}

.footer-section p {
    margin-bottom: 0.5rem;
}

.footer-logo {
    height: 50px;
    margin-bottom: 1rem;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid var(--neutrals900);
    font-size: 0.8rem;
    color: var(--basewhite);
}

.footer-bottom p {
    margin: 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        flex-direction: column;
        background-color: var(--neutrals1000);
        width: 100%;
        text-align: center;
        transition: 0.3s;
        z-index: 1000;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-menu li {
        margin: 16px 0;
    }
    

    #hero h1 {
        font-size: 2.5rem;
        left: 5%;
    }

    .content-wrapper {
        grid-template-columns: 1fr;
    }

    article,
    aside {
        grid-column: span 1;
        margin: 1rem 0;
    }

    .news-card,
    .gallery-card {
        width: 100%;
    }

    .agenda-item {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 0.9rem;
    }

    nav {
        padding: 0.5rem;
    }

    .nav-menu a {
        font-size: 1rem;
        margin: 0.5rem 0;
    }

    .logo {
        height: 40px;
    }

    #hero {
        height: 250px;
    }

    #hero h1 {
        font-size: 2rem;
        left: 5%;;
    }

    .content-wrapper {
        grid-template-columns: 1fr;
        margin: 0.5rem;
    }

    .news-card,
    .gallery-card {
        width: 100%;
        height: auto;
    }

    .map-container iframe {
        height: 300px;
    }

    .agenda-item {
        width: 100%;
    }

    footer {
        font-size: 0.8rem;
        padding: 1rem;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-section {
        margin-bottom: 1rem;
    }
}
