:root {
    --baseblack : #0a0a0b;
    --neutrals1000 : #151314;
    --neutrals900 : #2b2829;
    --basewhite : #fafafa;
    --primary : #3498db;
    --succes: #28a745;
    --warning: #ffc107;
    --error: #dc3545;
  }

* {
    margin: 0; 
    padding: 0;  
}

body {
    font-family: "Poppins", sans-serif;
    background-color: var(--baseblack);
    color: var(--basewhite);
    box-sizing: border-box;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}

.nav-menu li {
    display: inline;
}

.nav-menu a {
    color: var(--basewhite);
    text-decoration: none;
    margin: 0 2rem;
    font-size: 1.2em;
}

/* Styling main container */
main {
    display: flex;
    flex-direction: column; 
    margin: 1rem;
    padding: 4px;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px; 
    width: 100%;
    position: relative;
}

#hero section {
    width: 100%;
    height: 100%;
    position: relative;
}

#hero img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 24px;
    filter: brightness(50%);
    z-index: 1; 
}

#hero h1 {
    color: var(--basewhite); 
    font-size: 4rem;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    z-index: 2; 
}

.content-wrapper {
    display: grid;
    grid-template-columns: 70% 30%; 
    grid-template-rows: auto;
    width: 100%;
}

article {
    background-color: var(--neutrals1000); 
    padding: 1rem;  
    grid-column: 1 / 2;
    margin: 1rem 1rem 0 0;
    border-radius: 24px;
}

article h1 {
    text-align: center;
    font-weight: 400;
    margin-bottom: 2rem;
}

aside {
    background-color: var(--neutrals1000); 
    border-radius: 24px;
    padding: 1rem;
    margin-top: 1rem;
    grid-column: 2 / 3;
    grid-row: 1;
    align-self: start;
    height: auto;
}

aside h1 {
    text-align: center;
    font-weight: 400;
}

/* Styling untuk card berita */
.news-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

.gallery-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.news-card {
    background-color: var(--neutrals900);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    transition: transform 0.3s ease; 
}

.gallery-card {
    background-color: var(--basewhite);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 200px; 
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.news-card img, .gallery-card img {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
}

.news-card:hover, .gallery-card:hover {
    transform: translateY(-10px); 
}

.news-caption {
    padding: 1rem;
    text-align: center;
}

.news-caption h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--basewhite); 
}

.news-caption p {
    font-size: 1rem;
    color: var(--basewhite); 
}

/* Styling Maps */
.map-container {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
}

iframe {
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 450px;
}

/* Styling untuk section Agenda Kegiatan */
.agenda-kegiatan {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.agenda-item {
    width: 450px;
    padding: 1rem;
    background-color: var(--neutrals900); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin-bottom: 1rem;
}

.agenda-details h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.agenda-details p {
    font-size: 1rem;
    color: var(--basewhite);
    margin-bottom: 0.2rem;
}


/* Styling footer */
footer {
    background-color: #151314; /* Warna background hitam pekat */
    color: #fafafa; /* Teks putih */
    padding: 2rem 1rem;
    font-size: 0.9rem;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-section {
    flex: 1;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #f4d03f; 
}

.footer-section p {
    margin-bottom: 0.5rem;
}

.footer-logo {
    height: 50px;
    margin-bottom: 1rem;
}

/* Footer Bottom */
.footer-bottom {
    text-align: center;
    margin-top: 2rem;
    padding-top: 1rem;
    border-top: 1px solid #2b2829;
    font-size: 0.8rem;
    color: #d3d3d3;
}

.footer-bottom p {
    margin: 0;
}
